h2 {
    margin-left: 20px;
    margin-right: 20px;
}

.full-width {
    margin-left: 20px;
    margin-right: 20px;
    width: 360px; 
}

.btn-row {
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 8px;
}